<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035517718664-up5sb2rrq13h7d04ckvllahlck345m4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035517718664-up5sb2rrq13h7d04ckvllahlck345m4o</string>
	<key>API_KEY</key>
	<string>AIzaSyA5eTot3NC4FQM25GCU9mF6t6Y4Z8sM8t8</string>
	<key>GCM_SENDER_ID</key>
	<string>1035517718664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.illico</string>
	<key>PROJECT_ID</key>
	<string>illico-bd1e8</string>
	<key>STORAGE_BUCKET</key>
	<string>illico-bd1e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035517718664:ios:ee658ac25b86821d65ef3d</string>
	<key>DATABASE_URL</key>
	<string>https://illico-bd1e8.firebaseio.com</string>
</dict>
</plist>